<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <div id="app">
        {{>slidebar}}
        <div id="main">
            {{>nav}}
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Danh sách chiến dịch</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Danh sách chiến dịch</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        Danh sách chiến dịch
                    </div>
                    <div class="card-body text-center">
                        <table class="table table-striped" id="table1">
                            <thead class="">
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">Chiến dịch</th>
                                    <th class="text-center">Người phụ trách</th>
                                    <th class="text-center">Ngày bắt đầu</th>
                                    <th class="text-center">Ngày kết thúc</th>
                                    <th class="text-center">Thành viên</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Backend NodeJs</td>
                                    <td>Phương Công Thắng</td>
                                    <td>1/8/2021</td>
                                    <td>30/8/2021</td>
                                    <td>
                                        <ul class="list-unstyled order-list m-b-0">
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="user" data-toggle="tooltip" title="" data-original-title="Wildan Ahdian"></li>
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" data-toggle="tooltip" title="" data-original-title="John Deo"></li>
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" data-toggle="tooltip" title="" data-original-title="Sarah Smith"></li>
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="user" data-toggle="tooltip" title="" data-original-title="Wildan Ahdian"></li>
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" data-toggle="tooltip" title="" data-original-title="John Deo"></li>
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" data-toggle="tooltip" title="" data-original-title="Sarah Smith"></li>
                                            
                                          </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Frontend ReactJs</td>
                                    <td>Nguyễn Thị Chinh</td>
                                    <td>1/8/2021</td>
                                    <td>30/8/2021</td>
                                    <td>
                                        <ul class="list-unstyled order-list m-b-0">
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="user" data-toggle="tooltip" title="" data-original-title="Wildan Ahdian"></li>
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" data-toggle="tooltip" title="" data-original-title="John Deo"></li>
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" data-toggle="tooltip" title="" data-original-title="Sarah Smith"></li>
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="user" data-toggle="tooltip" title="" data-original-title="Wildan Ahdian"></li>
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" data-toggle="tooltip" title="" data-original-title="John Deo"></li>
                                            <li class="team-member team-member-sm"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" data-toggle="tooltip" title="" data-original-title="Sarah Smith"></li>
                                          </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </section>

            {{>footer}}
        </div>
    </div>
    {{>script}}
</body>

</html>